.header-container {
    list-style-type: none; 
    margin: 10px; 
    padding: 0; 
    overflow: hidden; 
    display: flex; 
    justify-content: space-around; 
    align-content: space-around;
}

.header {
    height:65px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}